h1{
	color:red;
	font-weight:500px;
	font-family:Arial;
	font-size:20px;
	}
h2{
	color:black;
	font-size:16px;
	}
li{
	color:red;
	font-weight:500px;
	font-family:Arial;
	font-size:20px;
	}
p{
	color:yellow;
	font-size:16px;
	}
img{
	border: 1px solid blue;
	}